model/DeepCGSR/config/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7-javadoc.jar
model/DeepCGSR/config/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7-models.jar
model/DeepCGSR/config/stanford-corenlp-4.5.7/stanford-corenlp-4.5.7-sources.jar
model/DeepCGSR.zip

model/DeepCGSR/backup/
model/DeepCGSR/data/
.venv/
model/DeepCGSR/config/stanford-parser-full-2020-11-17/stanford-parser-4.2.0-models.jar
data/Toys_and_Games_5.json
/__pycache__/

model/DeepCGSR/chkpt/bert_last_checkpoint.pt
